# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/SkeltonForMath/.vs/SkeltonForMath/v16/ipch/AutoPCH/1b6a8e7f122563f7/MAIN.ipch
/SkeltonForMath/.vs/SkeltonForMath/v16/Browse.VC.opendb
/SkeltonForMath/.vs/SkeltonForMath/v16/Browse.VC.db
